/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #494949;
}

/*typography*/
body {
  font-size: 1.125em;
  line-height: 1.5;
  font-family: "Padauk", sans-serif;
  color: #494949;
}

.heading {
  font-family: "Padauk", sans-serif;
  line-height: 1.25;
  letter-spacing: 0.0625em;
  font-weight: 600;
  padding: 0.5em 0;
  color: #000;
}

.main-heading {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.large-size {
  font-size: 1.8em;
}

.medium-size {
  font-size: 1.35em;
}

.small-size {
  font-size: 1.1em;
}

.cursive-text {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

/*COMPONENTS*/
/*nav*/
.main-nav {
  grid-column: first/line2;
  width: 100%;
}
@media all and (min-width: 64em) {
  .main-nav {
    grid-column: line2/line3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.main-nav__hamburger {
  position: fixed;
  left: 2%;
  top: 2%;
  z-index: 11;
  display: block;
  cursor: pointer;
}
@media all and (min-width: 64em) {
  .main-nav__hamburger {
    display: none;
  }
}
@media all and (max-width: 64em) {
  .main-nav__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f4f4f4;
  }
}
@media all and (min-width: 64em) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.main-nav__list--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-nav__item {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
@media all and (min-width: 64em) {
  .main-nav__item {
    padding: 0 3%;
  }
}

/*social*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item {
  padding: 0 1em;
}
.social__link {
  color: #b2b2b2;
}

/*button*/
.btn {
  border: 2px solid #000;
  height: 3em;
  width: 8em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.0625em;
  background-color: #fff;
}

/*pagination*/
.pagination {
  display: none;
}
@media all and (min-width: 64em) {
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 2em 0;
    font-family: "PT Mono", monospace;
    font-size: 0.9em;
  }
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (min-width: 64em) {
  .pagination__item {
    padding-right: 0.7em;
  }
}
.pagination__item--active {
  font-weight: bold;
}
.pagination__arrow {
  cursor: pointer;
  width: 1em;
}

/*more*/
.more {
  text-align: center;
  cursor: pointer;
  margin: 2em auto;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media all and (min-width: 64em) {
  .more {
    display: none;
  }
}
.more::after {
  content: "";
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #494949;
}
@media all and (min-width: 64em) {
  .more::after {
    display: none;
  }
}

/*products*/
.product {
  position: relative;
}
@media all and (min-width: 64em) {
  .product {
    background-color: #f5f5f5;
  }
}
@media all and (min-width: 64em) {
  .product__info {
    margin: 0 0 5% 7%;
  }
}
.product__price {
  letter-spacing: 0.0625em;
}
.product__bag {
  cursor: pointer;
}
@media all and (min-width: 64em) {
  .product__bag {
    display: none;
    position: absolute;
    right: 7%;
    bottom: 5%;
  }
}
.product__bag-icon {
  width: 1em;
  margin-right: 0.5em;
}
.product__bg {
  background-color: #f5f5f5;
}
.product__img {
  width: 100%;
  height: auto;
  max-width: 260px;
  max-height: 260px;
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.product__img--big {
  max-width: 560px;
}
.product__img-hover {
  display: none;
}
@media all and (min-width: 64em) {
  .product__img-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 64em) {
  .product__img-hover--active {
    opacity: 1;
  }
}
.product__like {
  position: absolute;
  top: 5%;
  right: 7%;
  cursor: pointer;
}
@media all and (min-width: 64em) {
  .product__like {
    display: none;
  }
}
.product__like--active {
  color: #e21a1a;
}

/*carousel*/
.carousel {
  overflow: hidden;
  height: 70vh;
  width: 100%;
  background-color: #f4f4f4;
}
.carousel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.carousel__bg {
  background-image: url(../assets/slide1.jpg);
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}
.carousel__effect {
  opacity: 1;
  -webkit-transition: 0.5s opacity ease-in;
  transition: 0.5s opacity ease-in;
}
.carousel__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.carousel__link {
  cursor: pointer;
  position: relative;
}
.carousel__link::after {
  content: "";
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #494949;
}
.carousel__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.carousel__dot {
  width: 1em;
  height: 1em;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  margin: 0 0.5em;
  cursor: pointer;
}
@media all and (min-width: 64em) {
  .carousel__dot {
    display: none;
  }
}
.carousel__dot--active {
  background-color: #e5e5e5;
}
@media all and (min-width: 64em) {
  .carousel__dot--active {
    display: none;
  }
}
.carousel__number {
  position: absolute;
  bottom: 5%;
  right: 0;
}
.carousel__arrow {
  display: none;
}
@media all and (min-width: 64em) {
  .carousel__arrow {
    cursor: pointer;
    display: block;
    width: 1.5em;
    height: 2.5em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.carousel__arrow--back {
  left: 0;
}
.carousel__arrow--next {
  right: 0;
}

/*form*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
}
@media all and (min-width: 64em) {
  .form {
    width: 50%;
  }
}
.form__input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 2%;
  border: none;
  border: 2px solid #eaeaea;
  border-right: none;
}
.form__button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

/*LAYOUT*/
/*header*/
.header {
  height: auto;
}
@media all and (min-width: 64em) {
  .header {
    background-color: #f4f4f4;
  }
}
.header__top {
  height: auto;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 4fr [line3] auto [last];
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2%;
}
.header__heading {
  grid-column: line2/line3;
  justify-self: center;
}
@media all and (min-width: 64em) {
  .header__heading {
    grid-column: first/line2;
    justify-self: start;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.header__bag {
  grid-column: line3/last;
  justify-self: end;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  width: 2.2em;
}
.header__bag-icon {
  width: 100%;
}
.header__count {
  display: none;
  width: 1.3em;
  height: 1.3em;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -7%;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

/*sidebar*/
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (min-width: 64em) {
  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media all and (min-width: 64em) {
  .sidebar__section {
    padding-bottom: 4em;
  }
}
.sidebar__subsection {
  padding-bottom: 5%;
}
@media all and (min-width: 64em) {
  .sidebar__subsection {
    padding: 1.5em 0;
  }
}
.sidebar__item {
  padding: 0.5em 0;
}
.sidebar__heading {
  cursor: pointer;
  padding-bottom: 1em;
}
@media all and (min-width: 64em) {
  .sidebar__heading {
    cursor: default;
  }
}
@media all and (min-width: 64em) {
  .sidebar__icon {
    display: none;
  }
}
.sidebar__tags {
  display: none;
}
@media all and (min-width: 64em) {
  .sidebar__tags {
    display: block;
  }
}
.sidebar__close {
  position: fixed;
  right: 4%;
  top: 2%;
  display: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.sidebar__list {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
  overflow: auto;
}
@media all and (min-width: 64em) {
  .sidebar__list {
    display: block;
    position: static;
    background: none;
    padding-left: 0;
  }
}
.sidebar__list--active {
  display: block;
}
.sidebar__number {
  font-family: "PT Mono", monospace;
  font-size: 0.6em;
  color: #494949;
  vertical-align: super;
  margin-left: 0.5em;
  letter-spacing: 0.0625em;
}

.active {
  display: block;
}

.categories {
  position: relative;
}
@media all and (min-width: 64em) {
  .categories::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #ccc;
    display: block;
    position: absolute;
    bottom: 5%;
    left: 0;
  }
}

.filter {
  position: relative;
}
@media all and (min-width: 64em) {
  .filter::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #ccc;
    display: block;
    position: absolute;
    bottom: 5%;
    left: 0;
  }
}
.filter__price-scope {
  display: block;
  margin-bottom: 2em;
  width: 100%;
}
.filter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter__price-value {
  margin-right: 1.2em;
}
.filter__price-elem {
  width: 5rem;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.2em;
  margin: 1em 1em 0 0;
  text-align: center;
}
.filter__button {
  cursor: pointer;
  margin-right: 0;
  border: 0;
  letter-spacing: 0.0625em;
}
@media all and (min-width: 64em) {
  .filter__button {
    background: #f4f4f4;
    color: #000;
  }
}
.filter__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter__color {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  margin-right: 0.5em;
}
.filter__color--gray {
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  background-color: #c7c7c7;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
}
.filter__color--white {
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
}
.filter__color--red {
  border: 1px solid #ff8b8b;
  border-radius: 50%;
  background-color: #ff8b8b;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
}
.filter__color--blue {
  border: 1px solid #b2e6fe;
  border-radius: 50%;
  background-color: #b2e6fe;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
}
.filter__color--green {
  border: 1px solid #beffc9;
  border-radius: 50%;
  background-color: #beffc9;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
}
.filter__color--active {
  border: 1px solid #ccc;
  background-image: url("../assets/iconmonstr-check-mark-thin.svg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tags__item {
  padding: 0.3em 0;
}
.tags__item::after {
  content: "\00a0";
}

/*content*/
.main {
  height: auto;
  padding-left: 8%;
}
@media all and (min-width: 64em) {
  .main {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
.main__sort {
  display: none;
}
@media all and (min-width: 64em) {
  .main__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main__sort-list {
  cursor: pointer;
}
.main__product-1 {
  grid-area: product-1;
}
.main__product-2 {
  grid-area: product-2;
}
.main__product-3 {
  grid-area: product-3;
}
.main__product-4 {
  grid-area: product-4;
}
.main__product-5 {
  grid-area: product-5;
}
.main__product-6 {
  grid-area: product-6;
}
.main__product-7 {
  grid-area: product-7;
}
.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 5%;
  grid-row-gap: 3em;
  grid-template-areas: "product-1 product-2"  "product-3 product-3"  "product-4 product-5"  "product-6 product-7";
  margin-top: 2em;
}

/*footer*/
.footer {
  background-color: #f5f5f5;
}
.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2em 0;
}
@media all and (min-width: 64em) {
  .footer__subscribe {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: right;
    padding: 3em 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__heading {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0.7em;
}
@media all and (min-width: 64em) {
  .footer__heading {
    font-size: 2.3em;
    margin-bottom: 0;
  }
}
.footer__line {
  border: none;
  border: 1px solid #eaeaea;
}
@media all and (min-width: 64em) {
  .footer__line {
    display: none;
  }
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}
.footer__link {
  padding: 0 2%;
  font-weight: 700;
  white-space: nowrap;
}
@media all and (min-width: 64em) {
  .footer__link {
    padding: 0 1em;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}
@media all and (min-width: 64em) {
  .footer__row {
    padding: 0;
  }
}
.footer__rights {
  display: none;
}
@media all and (min-width: 64em) {
  .footer__rights {
    display: inline-block;
  }
}
@media all and (min-width: 64em) {
  .footer__bg-desctop {
    background: #fff;
  }
}
.footer__text {
  font-size: 0.85em;
}

/*general*/
.hide {
  display: none;
}

.container {
  margin: 0 4%;
  height: 100%;
  position: relative;
}
@media (min-width: 64em) {
  .container {
    margin: 0 8%;
  }
}
@media (min-width: 85.375em) {
  .container {
    margin: 0 12%;
  }
}
@media (min-width: 120em) {
  .container {
    margin: 0 18%;
  }
}

.active {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}
@media (min-width: 64em) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.irs--round .irs-bar {
  background-color: #000;
  height: 2px;
}

.irs--round .irs-handle {
  border: 2px solid #000000;
  cursor: pointer;
}

.irs-min, .irs-max, .irs-from, .irs-to, .irs-single {
  display: none;
}

.irs--round .irs-line {
  height: 2px;
}

.irs--round {
  width: 70%;
}

/*# sourceMappingURL=main.css.map */