.hide {
	display: none;
}

.container {
	margin: 0 4%;
	height: 100%;
	position: relative;

	@media #{$mq-medium} {
		margin: 0 8%;
	}

	@media #{$mq-large} {
		margin: 0 12%;
	}

	@media #{$mq-xlarge} {
		margin: 0 18%;
	}
}

.active {
	display: block;
}

.row {
	display: flex;
	flex-direction: column;
	margin-top: 2em;

	@media #{$mq-medium} {
		flex-direction: row;
	}
}

//range-slider
.irs--round .irs-bar {
	background-color: #000;
	height: 2px;
}

.irs--round .irs-handle {
	border: 2px solid #000000;
	cursor: pointer;
}

.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
	display: none;
}

.irs--round .irs-line {
	height: 2px;
}

.irs--round {
	width: 70%;
}