.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.form{
	width: 100%;
	display: flex;
	height: 2em;
	@media all and #{$mq-medium}{
		width: 50%;
	}
	
	
	&__input{
		flex:3;
		padding: 0 2%;
		border: none;
		border: 2px solid $footer-gray;
		border-right: none;	

	}
	&__button{
		flex:1;
		height: 100%;
		
	}
}