$base-font-family: 'Padauk', sans-serif;
$secondary-font-family: 'Playfair Display', serif;
$mono-font-family:'PT Mono', monospace;
//$logo-font-family:maison-neue-bold;


// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1.125em;//18px

// Line-Height
$base-line-height: 1.5;


body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
	color:$dark-gray;
	
}

.heading{
	font-family: $base-font-family;	
	line-height: 1.25;
	letter-spacing: 0.0625em;
	font-weight: 600;
	padding: 0.5em 0;
	color: $black;
}
.main-heading{
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 700;
	margin:0;
	
}
.large-size{
	font-size: 1.8em;	
}
.medium-size{
	font-size: 1.35em;
}
.small-size{
	font-size: 1.1em;
}
.cursive-text{
	font-family: $secondary-font-family;
	font-style: italic;
}

