.cart {
  position: relative;
  width: 2.2em;

  &__icon {
    width: 100%;
  }
  &__count {
    display: none;
    width: 1.3em;
    height: 1.3em;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -7%;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.4em;
  }
  &__dropdown {
    height: auto;
    background: #fff;

    @media all and #{$mq-medium} {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 15em;
      height: auto;
      box-shadow: 1px 1px 7px #ccc;
      transform: translateX(-80%);

      padding: 25%;
    }

    &--active {
      display: none;

      @media all and #{$mq-medium} {
        display: block;
      }
    }
  }
  &__list {
    width: 100%;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    align-items: center;
  }
  &__list-img,
  &__list-btn {
    width: 4em;
    height: 4em;

    @media all and #{$mq-medium} {
      width: 2em;
      height: 2em;
    }
  }
  &__list-btn {
    cursor: pointer;
  }
  &__line {
    width: 90%;
    border-bottom-width: 0.2px;
    margin: 1em auto;
  }
  &__pay {
    font-weight: bold;
    font-size: 1.2em;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
  }
  &__dropdown-text {
    margin-bottom: 0.5em;
  }
  &__btn {
    width: 50%;
    margin: 2% 0;
    //		@media all and #{$mq-medium}{
    //			width: 50%;
    //		}
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
