.text-click {
  text-align: center;
  cursor: pointer;
  margin: 2em auto;
  position: relative;
  width: max-content;

  @media all and #{$mq-medium} {
    display: none;
  }

  &::after {
    @include underline;
    @media all and #{$mq-medium} {
      display: none;
    }
  }
}
